* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #101820;
  min-height: 100vh;
  width: 100%;
}

/* El container ocupa todo el ancho */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}