.detalle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

@media (min-width: 768px) {
  .detalle-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.detalle-img {
  width: 300px;
  border-radius: 12px;
  object-fit: contain;
}

.detalle-info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.precio-detalle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #101820;
  margin-top: 0.5rem;
  background-color: #f0c80833;
  display: inline-block;
  padding: 0.4rem 1rem;
  border-radius: 8px;
}

.talles-opciones {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.talle-btn {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.talle-btn.activo {
  background-color: #f0c808;
  border-color: #000;
  font-weight: 600;
}

.btn-volver {
  margin-top: 1rem;
  text-decoration: none;
  color: #101820;
  font-weight: 600;
  background-color: #e0e0e0;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-volver:hover {
  background-color: #d6d6d6;
}